<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="btodts" />
            <add key="ClearTextPassword" value="46bc5eed22982bd7d23cdd96e03bfa9c587b8cd5" />
        </github>
    </packageSourceCredentials>
</configuration>