<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/team4talent/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="btodts" />
            <add key="ClearTextPassword" value="8020447c1a615001aa0df3a3d7bece42f2fc5043" />
        </github>
    </packageSourceCredentials>
</configuration>